<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Add List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-5">
            <h1>Add Grocery List</h1>
            <form action="/add/" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="form-group">
                    <button type="submit" name="save">Submit</button>
                </div>
            </form>
        </div>
    </body> 
</html>
