<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-5">
            <!-- top -->
            <div class="row">
                <div class="col-lg-6">
                    <h1>View Grocery List</h1>
                </div>
                <div class="col-lg-2">
                    <a href="/add/">Add item</a>
                </div>
                <div class="col-lg-4 float-right">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Date Filtering-->
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-lg-4">
                            <input type="submit" class="btn btn-danger" value="filter">
                        </div>
                    </div>
                </div>
            </div>
            <!-- // top -->
            <!-- Grocery Cards -->
            <div class="row mt-4">
                <!--- -->
                <!-- Loop This -->
                {% for item in items %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ item.item_name }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{ item.item_qty }}</h6>
                          <p class="text-success">{{ item.item_status }}</p>
                        </div>
                    </div>
                    <a href= "/update/{{ item.id }}">Update</a>
                    <a href="/delete/{{ item.id }}" style="color: red">Delete</a>
                </div>
                {% endfor %}

            </div>
        </div>
    </body>
</html>
